@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Black+Ops+One&family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
body{
    background-color: white;
    color: black;
    font-family: "Quicksand", sans-serif;
}

a.active{
    color: rgb(29, 180, 79);
}

